{% include "header.html" %}

{% block body %}
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="card card-body">
          <h2 class="text-center mb-4">Crear Venta</h2>
          
          <div class="mb-4">
            <h4>Seleccionar Artículos</h4>
            <!-- Aquí puedes incluir campos de búsqueda o una lista de artículos con checkboxes -->
          </div>

       
    
<div class="mb-4">
    <h4>Seleccionar Cliente</h4>
    <form action="" method="post">
      <div class="form-group">
        <label for="cliente">Cliente:</label>
        <select class="form-control" name="cliente" required>
          <option value="" disabled selected>Selecciona un cliente</option>
          {% for cliente in clientes_activos %}
            <option value="{{ cliente.id }}">{{ cliente.fullname }}</option>
          {% endfor %}
        </select>
      </div>
      
      <!-- Agrega más campos según sea necesario para los detalles de la venta -->
     <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" class="form-control" name="cantidad" required>
      </div>
     <!--   <div class="form-group">
        <label for="precio">Precio Unitario:</label>
        <input type="number" class="form-control" name="precio" required>
      </div> -->
      
      <!-- Botón para Enviar el Formulario -->
      <button type="submit" class="btn btn-primary btn-block">Realizar Venta</button>
    </form>
  </div>
  
          </div>
        </div>
      </div>
    </div>

</section>
{% endblock %}
