{% include "header.html" %}

{% block body %}
<section class="h-100 gradient-form" style="background-color: #eee;">

<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1 style="text-align: center;">Edición Articulo</h1>
      <div class="card card-body">
        <form action="/updateArticulo/{{articulo.id}}" method="POST">

          <div class="form-group">
            <label for="codigo">Codigo:</label>
            <input type="text" name="codigo" value="{{articulo.codigo}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" value="{{articulo.nombre}}" class="form-control">
          </div>

          <div class="form-group">
            <label for="fecha_vencimiento">Fecha Ven:</label>
            <input type="date" name="fecha_vencimiento" value="{{articulo.fecha_vencimiento}}" class="form-control">
          </div>

          <div class="form-group">
            <label for="fecha_empaque">Fecha Emp:</label>
            <input type="date"  name="fecha_empaque"  value="{{articulo.fecha_empaque}}" class="form-control">
          </div>

          <div class="form-group">
            <label for="lote">Lote:</label>
            <input type="text" name="lote"  value="{{articulo.lote}}" class="form-control" >
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" name="descripcion"  value="{{articulo.descripcion}}" class="form-control" >
          </div>

          <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" name="precio"  value="{{articulo.precio}}" class="form-control" >
          </div>

          <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" name="stock"  value="{{articulo.stock}}" class="form-control" >
          </div>



          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
