{% include "header.html" %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: #ffc107;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h1>PROYECTO</h1>
                <p class="lead mb-5" style="FONT-WEIGHT: BOLD;">
                    DESARROLLO DE APLICACIONES WEB
                </p>
                <a class="btn btn-dark btn-xl" href="/login">Empezar</a>
            </div>
        </div>
    </div>
</div>
</div>
</section>
{% endblock %}

{% include "footer.html" %}